@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|PT+Serif:400,400i')

// only grid system and responsive utilities
// Build url: https://getbootstrap.com/docs/3.3/customize/?id=7b080c4c96d2363aa064377421b5b430
@import './../css/vendors/bootstrap.min.css'
@import './variables.styl'
@import './mixins.styl'
@import './base.styl'
@import './full-banner.styl'
