html, body
  Montserrat()
  font-size(16)
  text-align center
  color text-color
  
p
   PTSerif()
   font-size(16, base-font-size, 22)

a
  Montserrat()
  color link-color
  font-size(12)

.my-future-now-logo
  background-image embedurl('./../img/MyFutureNow-logo.svg', 'utf8')
  width 135px
  height 10px
  margin 0 auto
  
  +for_breakpoint(medium)
    float left
  
.main-header
  padding 20px 0

.title
  font-size(36, base-font-size, base-font-size)
  MontserratBold()
  color title-color
  letter-spacing -1px
  
  +for_breakpoint(large)
    font-size(52, base-font-size, base-font-size)

.title--state-reverse-color
  color #fff
  

.title--spaced-line
  font-size(36, base-font-size, base-font-size + 2)
  
  +for_breakpoint(large)
    font-size(52, base-font-size, base-font-size)
  
.title--intro
  font-size(11)
  color sub-title-color
  letter-spacing 2px
  
.title--sub-item
  font-size(11)
  letter-spacing 2px
  text-transform uppercase
  
.btn
  border-radius 100px
  display block
  font-size(11, base-font-size, 16)
  MontserratMedium()
  letter-spacing 3px
  overflow hidden
  padding 14px
  text-align center
  text-transform uppercase
  width 100%
  
.btn--primary 
  background-color primary-color
  color #fff
  
.container--even 
  even-background