margin-bottom = 73px

.full-banner
  retina('./../img/Header_background', 'png')
  color #fff
  padding-top 93%
  position relative
  text-align left
  margin-bottom margin-bottom + 133px

.full-banner--content
  max-width 315px
  margin-left 4px

.full-banner--links-container
  margin-top 42px
  margin-bottom - margin-bottom
  text-align center