.icon
  display inline-block
  overflow hidden
  
.icon-glass
  background-image embedurl('./../img/magnifying-glass.svg', 'utf8')
  width 60px
  height 60px
  
.icon-stats
  background-image embedurl('./../img/stats-pipes.svg', 'utf8')
  width 60px
  height 60px
  
.icon-money
  background-image embedurl('./../img/money-give.svg', 'utf8')
  width 60px
  height 60px