media_queries = {
  small   : "only screen and (max-width: 576px)",
  medium  : "only screen and (min-width: 768px)",
  large   : "only screen and (min-width: 992px)",
  extra   : "only screen and (min-width: 1200px)"
}

base-font-size = 16
base-line-height = 22
link-color = #00B2CB
title-color = #333B3D
text-color = rgba(title-color, 0.7)
sub-title-color = #3B3D40
primary-color = #00B2CB
even-background = retina('./../img/18-Unicorn', 'png')