base-font-size = 16
base-line-height = 22
link-color = #00B2CB
title-color = #333B3D
text-color = rgba(title-color, 0.7)
sub-title-color = #3B3D40
primary-color = #00B2CB
even-background = radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%), linear-gradient(180deg, #E1E6EC 0%, #F0F4F7 100%);